@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: 400;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  vertical-align: middle;
}

html {
  font-size: 15px;
}

body {
  background-color: #e6eff6;
  font-family: "Karla", sans-serif;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.attribution {
  color: #1f3251;
  font-size: 11px;
  text-align: center;
  position: relative;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.attribution__text {
  margin-bottom: 4px;
}

.attribution__text a {
  color: #1f3251;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  text-decoration: none;
}

.attribution__text a:hover {
  color: #0061cc;
}

.grifano-logo {
  display: inline-block;
  border-radius: 2px;
  padding: 4px 4px 2px 4px;
  color: #fff;
  background-color: #0061cc;
}

.grifano-logo span {
  color: #d07f15;
  background-color: #0061cc;
}

.container {
  padding: 32px;
  max-width: 636px;
  margin: auto;
}

.show {
  visibility: visible;
  opacity: 100%;
}

.join {
  background-color: #ffffff;
  letter-spacing: -0.01em;
  border-radius: 8px;
  -webkit-box-shadow: -6px 16px 35px rgba(124, 156, 175, 0.17);
          box-shadow: -6px 16px 35px rgba(124, 156, 175, 0.17);
}

.join__top {
  padding: 40px;
}

@media (max-width: 768px) {
  .join__top {
    padding: 24px;
  }
}

.join__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #2ab2af;
  margin-bottom: 26px;
  max-width: 226px;
}

.join__subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #c0df34;
  margin-bottom: 10px;
  max-width: 359px;
}

.join__desciption {
  line-height: 25px;
  max-width: 516px;
  color: #acafb6;
}

.join__grid {
  color: #ffffff;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.join__grid li {
  padding: 40px;
  background-color: #2bb3b1;
}

.join__grid li:last-child {
  background-color: #4abebd;
}

@media (max-width: 768px) {
  .join__grid li {
    padding: 24px;
  }
}

.subscription__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 17px;
}

.subscription__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  line-height: 18px;
  color: #aee5e5;
  margin-bottom: 5px;
}

.subscription__price span {
  color: #ffffff;
  font-size: 31px;
  font-weight: 700;
  line-height: 36px;
  margin-right: 13px;
}

.subscription__benefit {
  line-height: 25px;
  margin-bottom: 26px;
}

.subscription__sign-up {
  display: block;
  min-height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #c0df34;
  -webkit-box-shadow: 0px 7px 26px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 7px 26px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 768px) {
  .subscription__sign-up:hover {
    background-color: #ffffff;
    color: #2ab2af;
  }
}

.why-us {
  line-height: 21px;
}

.why-us__title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.01em;
  margin-bottom: 17px;
}

.why-us__text {
  color: #e5eff5;
  letter-spacing: -0.06em;
}
