// Colors
$bodyBg: hsl(216, 12%, 8%);

$white: hsl(0, 0%, 100%);
$lightGray: hsl(204, 43%, 93%);
$cyan: hsl(179, 62%, 43%);
$yellow: hsl(71, 73%, 54%);

//Attribution
$attr_text-color: #1f3251;
$attr_grifano-color: #fff;

// Typeface
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
$fontFamily: "Karla", sans-serif;
$mainFontSize: 16px;
