// Colors
$bodyBg: #e6eff6;

$white: #ffffff;
$lightGray: #acafb6;
$secondary: #2ab2af;
$primary: #c0df34;

//Attribution
$attr_text-color: #1f3251;
$attr_grifano-color: #fff;

// Typeface
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
$fontFamily: "Karla", sans-serif;
$mainFontSize: 16px;
